<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.money.mapper.MoneyUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.money.entity.MoneyUser">
        <id column="user_id" property="userId"/>
        <result column="name" property="name"/>
        <result column="avatar_url" property="avatarUrl"/>
        <result column="bonus_points" property="bonusPoints"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="version" property="version"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id,name,avatar_url,bonus_points,status,create_time,modify_time,version
    </sql>

    <sql id="Base_Column_List_With_Pwd">
		 user_id,name,avatar_url,bonus_points,status,create_time,modify_time,version
	</sql>

    <select id="selectUsers" resultType="map">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        where STATUS != 'DELETED'
        <if test="name != null and name != ''">
            and (PHONE like CONCAT('%',#{name},'%')
            or ACCOUNT like CONCAT('%',#{name},'%')
            or NAME like CONCAT('%',#{name},'%'))
        </if>
        <if test="deptId != null and deptId != 0">
            and (DEPT_ID = #{deptId} or DEPT_ID in ( select DEPT_ID from sys_dept where PIDS like CONCAT('%[', #{deptId}, ']%') ))
        </if>
        <if test="beginTime != null and beginTime != '' and endTime != null and endTime != ''">
            and (CREATE_TIME between CONCAT(#{beginTime},' 00:00:00') and CONCAT(#{endTime},' 23:59:59'))
        </if>
    </select>

    <update id="setStatus">
		update sys_user set STATUS = #{status} where USER_ID = #{userId}
	</update>

    <update id="changePwd">
		update sys_user set PASSWORD = #{pwd} where USER_ID = #{userId}
	</update>

    <update id="setRoles">
		update sys_user set ROLE_ID = #{roleIds} where USER_ID =
		#{userId}
	</update>

    <select id="getByWeixinKey" resultType="cn.stylefeng.guns.modular.money.entity.MoneyUser">
        select b.*
        from
          (select *
           from weixin_user where  STATUS != 'DELETED'
           and weixin_key=#{weixinKey}
          ) a
        join
          (select * from money_user where status!='DELETE'
           ) b
        on a.money_user_id=b.user_id
    </select>

</mapper>
